* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(81, 93, 93);
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

i {
	color: rgb(231, 236, 183);
	padding-left: 2px;
}

.thunder-icons i {
	display: block;
	line-height: 2;
}

h1 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.text {
	font-size: 16px;
	line-height: 2;
}

.adnotation {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 10px;
	font-style: italic;
}
